<header>
  <div class="header-main">
    <h1>Catálogo de Calefactores</h1> 
    
    <!-- Si está logueado, mostramos un saludo con su nombre -->
    <span *ngIf="isLoggedIn$ | async" class="saludo-user">
      Hola, <strong>{{ nombreUsuario }}</strong>
    </span>
  </div>
  
  <nav>
    <a routerLink="/modelos">Inicio</a> |
      <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/registrarse">Iniciar Sesion</a>
    </ng-container>

    <!-- CASO ADMINISTRADOR: Si SÍ está logueado, ve el acceso al panel y el botón de logout -->
    <ng-container *ngIf="isLoggedIn$ | async">
      <a routerLink="/admin">Panel Admin</a> |
      <button class="btn-logout" (click)="onLogout()">Cerrar Sesión</button>
    </ng-container>
  </nav>    
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© Luciano - TP Angular 2026</p>
</footer>
